<div class="tip_page clx">
    <i class="icon_w k_tip"></i>
    <dl>
        <span class="tip_txt"><%=data.message%></span><br>
        <a href="javascript:history.back();" style="display: none;" class="k_link f14">返回上一步</a>
    </dl>
</div>