<li>
    <div  aria-label="Previous">
        <span aria-hidden="true">&laquo;</span>
    </div>
</li>
<li><a href="#">1</a></li>
<li><a href="#">2</a></li>
<li><a href="#">3</a></li>
<li><a href="#">4</a></li>
<li><a href="#">5</a></li>
<li><a href="#">6</a></li>

<li>
    <div  aria-label="Next">
        <span aria-hidden="true">&raquo;</span>
    </div>
</li>