@charset "UTF-8";
html, body {
  background: #041B36; }

body {
  font-family: PingFangSC-Regular; }

ul, ol {
  list-style: outside none none; }

input {
  -webkit-appearance: none;
  /*去除input默认样式*/
  padding: 0; }

input[type="submit"],
input[type="reset"],
input[type="button"],
input {
  -webkit-appearance: none; }

input:focus {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-user-modify: read-write-plaintext-only; }

/*去除IE10+浏览器文本框后面的小叉叉*/
input::-ms-clear {
  display: none; }

input {
  outline: none;
  border: 0;
  color: #4A4A4A; }

input::-webkit-input-placeholder {
  /* WebKit browsers */
  color: #0E5970; }

input::-moz-placeholder {
  /* Mozilla Firefox 4 to 18 */
  color: #0E5970; }

input::-moz-placeholder {
  /* Mozilla Firefox 19+ */
  color: #0E5970; }

input:-ms-input-placeholder {
  /* Internet Explorer 10+ */
  color: #0E5970; }

@font-face {
  font-family: DS-DIGI;
  src: url("/res/css/DS-DIGI.TTF"); }
.anchorBL {
  display: none; }

a {
  text-decoration: none; }

a:hover {
  text-decoration: none; }

a:link, a:active, a:visited, a:hover {
  text-decoration: none; }

li {
  list-style: none; }

.map_center {
  width: 100%;
  height: 100%;
  background: #041B36;
  min-width: 1440px; }
  .map_center .header {
    width: 100%;
    height: 61px;
    float: left;
    background: #041B36; }
    .map_center .header .header_logo {
      width: 30%;
      height: 100%;
      float: left; }
      .map_center .header .header_logo img {
        width: 120px;
        height: 39px;
        margin: 22px 0 0 43px; }
    .map_center .header .header_center {
      width: 40%;
      height: 100%;
      float: left; }
      .map_center .header .header_center img {
        display: block;
        margin: 0 auto;
        width: 553px;
        height: 44px; }
    .map_center .header .header_user {
      width: 30%;
      height: 100%;
      float: left;
      color: white; }
      .map_center .header .header_user ul {
        float: right;
        margin-right: 27px; }
      .map_center .header .header_user li {
        padding: 10px;
        float: right; }
        .map_center .header .header_user li .header_user_center {
          margin-bottom: 5px;
          height: 30px; }
        .map_center .header .header_user li .header_user_weatherText {
          font-size: 14px;
          text-align: center;
          font-family: PingFangSC;
          line-height: 45px; }
        .map_center .header .header_user li .header_user_weatherText2 {
          font-size: 12px;
          font-family: PingFangSC;
          line-height: 32px;
          text-align: center; }
        .map_center .header .header_user li .header_user_weatherImg {
          width: 47px;
          margin: 0 auto 5px auto; }
          .map_center .header .header_user li .header_user_weatherImg img {
            width: 100%;
            height: 100%; }
        .map_center .header .header_user li .header_user_tit {
          font-size: 12px;
          color: white;
          text-align: center;
          text-align: center;
          width: 100%;
          display: inline-block; }
        .map_center .header .header_user li .header_user_usinfoImg {
          width: 30px;
          height: 30px; }
          .map_center .header .header_user li .header_user_usinfoImg img {
            width: 100%;
            height: 100%;
            border-radius: 50%; }
  .map_center .center {
    width: 100%;
    min-height: 684px;
    float: left;
    background: #041B36; }
    .map_center .center .center_header {
      width: 100%;
      height: 99px; }
      .map_center .center .center_header span {
        display: block;
        font-size: 16px;
        color: #d1d1d1;
        margin-top: 15px;
        text-align: center; }
      .map_center .center .center_header .center_header_txt {
        margin: 0 auto;
        text-align: center; }
        .map_center .center .center_header .center_header_txt span {
          display: inline-block;
          text-align: center; }
        .map_center .center .center_header .center_header_txt .special {
          font-family: DS-DIGI;
          font-size: 36px;
          color: #51FFFF; }
        .map_center .center .center_header .center_header_txt .ordinary {
          font-size: 14px;
          color: #9B9B9B; }
    .map_center .center .center_left {
      width: 302px;
      height: 585px;
      margin-left: 34px;
      float: left; }
      .map_center .center .center_left .center_left_Warning {
        width: 280px;
        height: 352px;
        background: url("/res/images/imgv7/znyw_dpm_left_grid1@2x.png") no-repeat;
        background-size: 100% 100%;
        padding: 11px 11px; }
        .map_center .center .center_left .center_left_Warning .center_left_Warning_header {
          width: 100%;
          height: 25px; }
          .map_center .center .center_left .center_left_Warning .center_left_Warning_header img {
            width: 25px;
            height: 25px; }
          .map_center .center .center_left .center_left_Warning .center_left_Warning_header span {
            display: inline-block;
            font-size: 16px;
            color: #F15959;
            margin-left: 7px; }
        .map_center .center .center_left .center_left_Warning .center_left_Warning_center {
          width: 100%;
          height: 48px;
          margin-top: 14px; }
          .map_center .center .center_left .center_left_Warning .center_left_Warning_center span {
            font-size: 20px;
            color: #51ffff;
            line-height: 48px; }
          .map_center .center .center_left .center_left_Warning .center_left_Warning_center .center_left_Warning_txt {
            display: inline-block;
            font-size: 48px;
            font-family: DS-DIGI;
            color: #51ffff;
            line-height: 48px;
            margin-left: 31px; }
            .map_center .center .center_left .center_left_Warning .center_left_Warning_center .center_left_Warning_txt span {
              display: inline-block;
              font-size: 18px;
              color: #298B8E;
              line-height: 20px;
              font-family: PingFangSC-Regular; }
        .map_center .center .center_left .center_left_Warning .center_left_chart {
          width: 100%;
          height: 100%;
          margin-top: 60px; }
          .map_center .center .center_left .center_left_Warning .center_left_chart .center_left_chart_nav_right {
            margin-right: 18px; }
          .map_center .center .center_left .center_left_Warning .center_left_chart .center_left_chart_nav {
            width: 81px;
            height: 200px;
            float: left; }
            .map_center .center .center_left .center_left_Warning .center_left_chart .center_left_chart_nav .chart_text {
              width: 100%;
              margin-top: 23px; }
              .map_center .center .center_left .center_left_Warning .center_left_chart .center_left_chart_nav .chart_text span {
                display: block;
                color: white;
                text-align: center; }
              .map_center .center .center_left .center_left_Warning .center_left_chart .center_left_chart_nav .chart_text .chart_text_span1 {
                font-size: 30px;
                font-family: DS-DIGI;
                line-height: 30px; }
              .map_center .center .center_left .center_left_Warning .center_left_chart .center_left_chart_nav .chart_text .chart_text_span2 {
                font-size: 12px;
                line-height: 12px;
                margin-top: 9px;
                cursor: pointer; }
      .map_center .center .center_left .center_left_tole_right {
        margin-right: 15px; }
      .map_center .center .center_left .center_left_tole {
        width: 143px;
        height: 183px;
        margin-top: 32px;
        background: url("/res/images/imgv7/znyw_dpm_left grid2@2x.png") no-repeat;
        background-size: 100% 100%;
        float: left; }
        .map_center .center .center_left .center_left_tole .center_left_tole_text {
          font-size: 20px;
          padding: 10px 0 0 11px;
          text-align: left;
          color: #51FFFF; }
        .map_center .center .center_left .center_left_tole .center_left_tole_num {
          font-size: 48px;
          font-family: DS-DIGI;
          padding-left: 19px;
          margin-top: 9px;
          color: #51FFFF; }
          .map_center .center .center_left .center_left_tole .center_left_tole_num span {
            font-size: 20px;
            font-family: PingFangSC-Regular; }
        .map_center .center .center_left .center_left_tole img {
          display: block;
          width: 80px;
          height: 80px;
          margin: 8px auto 0 auto; }
    .map_center .center .center_map {
      width: calc(100% - 570px);
      height: 639px;
      margin: 0 auto;
      float: left;
      overflow: hidden; }
    .map_center .center .center_right {
      width: 212px;
      height: 585px;
      margin-right: 15px;
      float: right; }
      .map_center .center .center_right .center_right_header {
        width: 212px;
        height: 93px;
        background: url("/res/images/imgv7/znyw_dpm_right grid1@2x.png") no-repeat;
        background-size: 100%; }
        .map_center .center .center_right .center_right_header .center_right_header_wen {
          width: calc(100% - 80px);
          height: 100%;
          float: left; }
          .map_center .center .center_right .center_right_header .center_right_header_wen span {
            display: inline-block;
            font-size: 20px;
            color: #51FFFF;
            margin: 11px 0 0 14px; }
          .map_center .center .center_right .center_right_header .center_right_header_wen .header_wen {
            font-size: 48px;
            font-family: DS-DIGI;
            color: #51FFFF;
            margin: 5px 0 10px 14px; }
            .map_center .center .center_right .center_right_header .center_right_header_wen .header_wen span {
              font-size: 20px;
              color: #298B8E;
              font-family: PingFangSC-Regular; }
        .map_center .center .center_right .center_right_header .center_right_header_img {
          width: 70px;
          height: 76px;
          margin: 15px 8px 0 0;
          background: url("/res/images/imgv7/znyw_dpm_warming mes@2x.png") no-repeat;
          background-size: 100%;
          float: left; }
      .map_center .center .center_right .SearchFor {
        width: 212px;
        height: 429px;
        margin-top: 10px;
        text-align: left;
        background: url("/res/images/imgv7/znyw_dpm_right grid2@2x.png") no-repeat;
        background-size: 100%; }
        .map_center .center .center_right .SearchFor input {
          height: 40px;
          padding-left: 44px;
          background: url("/res/images/imgv7/znyw_dpm_search@2x.png") no-repeat 20px 11px;
          background-size: 18px 18px;
          font-size: 16px;
          line-height: 40px;
          color: #1A8DB0; }
        .map_center .center .center_right .SearchFor ul {
          width: 100%;
          height: 390px;
          padding-top: 16px; }
          .map_center .center .center_right .SearchFor ul li {
            height: 18px;
            font-size: 14px;
            margin-bottom: 12px;
            padding-left: 40px; }
            .map_center .center .center_right .SearchFor ul li a {
              color: #B2B2B2;
              line-height: 14px;
              text-overflow: ellipsis;
              white-space: nowrap;
              overflow: hidden;
              cursor: pointer; }
  .map_center .footer {
    width: 100%;
    height: 135px;
    float: left;
    background: url("/res/images/imgv7/znyw_dpm_down2 background@2x.png") no-repeat;
    background-size: 100%; }
    .map_center .footer .footer_center {
      width: calc(100% - 820px);
      height: 105px;
      margin: -10px auto 0 auto;
      background: url("/res/images/imgv7/znyw_dpm_down1background@2x.png") no-repeat;
      background-size: 100%  100%; }

.mask_mappage {
  z-index: 9998;
  background-color: #041029;
  opacity: 0.6953; }

.mask_center_mappage {
  z-index: 9999;
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #041029; }
  .mask_center_mappage .center_mappage {
    width: 964px;
    margin: 8% auto 0 auto;
    background: url("/res/images/imgv7/ypt_tk background@2x.png") no-repeat;
    background-size: 100% 100%;
    position: relative;
    padding: 30px; }
    .mask_center_mappage .center_mappage .close {
      width: 50px;
      height: 50px;
      background: url("/res/images/imgv7/ypt_close icon@2x.png") no-repeat;
      background-size: 100% 100%;
      position: absolute;
      top: -25px;
      right: -25px; }
    .mask_center_mappage .center_mappage .center_mappage_map {
      width: 100%;
      height: 320px; }
    .mask_center_mappage .center_mappage .center_mappage_nav {
      width: 100%;
      overflow: auto; }
      .mask_center_mappage .center_mappage .center_mappage_nav ul {
        overflow-y: hidden; }
      .mask_center_mappage .center_mappage .center_mappage_nav li {
        width: 100%;
        height: 104px;
        background-color: white;
        border-bottom: 2px solid #d6d6d6; }
        .mask_center_mappage .center_mappage .center_mappage_nav li .mappage_nav_left {
          width: calc(70% - 20px);
          height: 100%;
          float: left;
          padding-left: 20px; }
          .mask_center_mappage .center_mappage .center_mappage_nav li .mappage_nav_left .mappage_nav_top {
            font-size: 18px;
            color: black;
            line-height: 16px;
            margin-top: 20px; }
            .mask_center_mappage .center_mappage .center_mappage_nav li .mappage_nav_left .mappage_nav_top .mappage_com {
              margin-right: 15px; }
            .mask_center_mappage .center_mappage .center_mappage_nav li .mappage_nav_left .mappage_nav_top .mappage_icon {
              padding-left: 15px;
              background: url("/res/images/imgv7/ypt_contact@2x.png") no-repeat left;
              background-size: 12px 15px; }
            .mask_center_mappage .center_mappage .center_mappage_nav li .mappage_nav_left .mappage_nav_top .mappage_icon2 {
              padding-left: 15px;
              background: url("/res/images/imgv7/ypt_mobile phone@2x.png") no-repeat left;
              background-size: 12px 15px; }
          .mask_center_mappage .center_mappage .center_mappage_nav li .mappage_nav_left .mappage_nav_center {
            margin-top: 8px; }
            .mask_center_mappage .center_mappage .center_mappage_nav li .mappage_nav_left .mappage_nav_center span {
              margin-right: 30px;
              color: #9B9B9B; }
        .mask_center_mappage .center_mappage .center_mappage_nav li .mappage_nav_right {
          width: calc(30% - 20px);
          height: 100%;
          float: left;
          padding-right: 20px;
          cursor: pointer; }
          .mask_center_mappage .center_mappage .center_mappage_nav li .mappage_nav_right span {
            padding-right: 24px;
            background: url("/res/images/imgv7/ypt_inter@2x.png") no-repeat right;
            background-size: 18px 20px;
            line-height: 104px;
            float: right;
            font-size: 16px;
            color: #4a4a4a; }
    .mask_center_mappage .center_mappage .center_mappage_nav::-webkit-scrollbar {
      display: none; }
    .mask_center_mappage .center_mappage .center_mappage_marn {
      width: 100%;
      height: 628px;
      background: white; }

/*# sourceMappingURL=map.css.map */
